.chat__messages__message
  .chat__messages__message__upper
    .chat__messages__message__upper__username
      = message.user.name
    .chat__messages__message__upper__date
      = message.created_at.strftime('%Y/%m/%d %H:%M')
  .chat__messages__message__lower
    - if message.content.present?
      .chat__messages__message__lower__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?

