/ サイドバー
.side-bar
  / ログインユーザー情報
  .side-bar__header
    %h3.side-bar__header__name
      イニエスタ
    %ul.side-bar__header__lists
      %li.list
        %i
          = fa_icon 'pencil-square-o', class: 'icon'
      %li.list
        %i
          = fa_icon 'cog', class: 'icon'
  / 参加グループ情報
  .side-bar__groups
    .side-bar__groups__group
      .side-bar__groups__group__name
        バルセロナ辞める
      .side-bar__groups__group__message
        あーーーーーーーーーーーー
    .side-bar__groups__group
      .side-bar__groups__group__name
        スペイン代表
      .side-bar__groups__group__message
        ワールドカップ優勝

/ チャット画面
.chat
  / グループ情報
  .chat__header
    .chat__header__left
      .chat__header__left__title
        バルセロナ辞める
      %span.member Member :
      %span.member イニエスタ
      %span.member ネイマール
      %span.member スアレス
    .chat__header__right
      .chat__header__right__button EDIT
  / メッセージ
  .chat__messages
    .chat__messages__message
      .chat__messages__message__upper
        .chat__messages__message__upper__username
          イニエスタ
        .chat__messages__message__upper__date
          2018/05/22 15:33
      .chat__messages__message__lower
        .chat__messages__message__lower__content
          バルサ辞めて、神戸に行きます。
    .chat__messages__message
      .chat__messages__message__upper
        .chat__messages__message__upper__username
          ネイマール
        .chat__messages__message__upper__date
          2018/05/22 15:34
      .chat__messages__message__lower
        .chat__messages__message__lower__content
          パリに来ればいいのに
    .chat__messages__message
      .chat__messages__message__upper
        .chat__messages__message__upper__username
          スアレス
        .chat__messages__message__upper__date
          2018/05/22 15:35
      .chat__messages__message__lower
        .chat__messages__message__lower__content
          最悪だ
  / 投稿
  .chat__form
    %form.js-from
      .js-form__message type a message
      .js-form__mask
        %label.mask__image
          %i
            = fa_icon 'picture-o', class: 'icon'
        %input.form__submit{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/





