.side-bar__groups
  .side-bar__groups__group
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .side-bar__groups__group__name
          = group.name
        .side-bar__groups__group__message
          = group.show_last_message
