// 文字色
$side-barFC: #FFFFFF;
$chatTitleFC: #333333;
$chatMemberFC: #999999;
$editButtonFC: #38AEF0;
$mesUserFC: #434A54;
$mesDateFC: #999999;
$mesFC: #434A54;
$mesSendFC: #FFFFFF;


// 背景色
$side-barHeadBC: #253141;
$side-barGrpBC: #2f3e51;
$chatHeadBC: white;
$chatMsgBC: #FAFAFA;
$chatFormBC: #DDDDDD;
$chatFormMesBC: #FFFFFF;
$chatFormSendBC: #32AEF0;
